<div class="slice slice-lg section-rotate slice-lg masthead">
    <section class="pt-5 pt-lg-0 bg-transparent">
        <div class="container">
            <div class="row">

                <%= render partial: 'layouts/card_dashboard' %>
            </div>
        </div>
    </section>
</div>