<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue <%= @admin.firstname%> au sein du réseau Mobinawa!</h1>
    <p>
      Tu t'es inscrit sur mobinawa.herokuapp.com en utilisant l'e-mail suivant : <%= @admin.email %>.
    </p>
    <p>
      Pour accéder à ton espace administrateur, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur mobinawa.herokuapp.com!
  </body>
</html>