<section class="slice-lg masthead" style="padding-top: 30px">
	<!-- Name of the company -->


		<h3 style="margin: auto; text-align: center; margin-bottom: 1.5rem">See your result : </h3>
		  
			<!-- Searcg bar -->
        <form action="" style="width: 75%; margin: auto;">
          <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
              <div class="input-group">
                  <input type="search" placeholder="Find your company here" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                   		<div class="input-group-append">
                         	<button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                      </div>
              </div>
           </div>
        </form>
					<!-- List of companies in the company -->
					<div class="row-wrapper">
						<div class="row cols-xs-space cols-sm-space cols-md-space">
								<% @results.each do |result| %>
								<div class="card" style="width: 92%; margin: auto;">
								  <div class="row no-gutters">
								    <div class="col-2 col-lg-1 align-self-center">
								      <div class="card-img">
								      	<span style="margin-left: 20px;"><%= link_to image_tag(result.logo, width: 75, height: 70), company_path(result.id) %></span>
								    	</div>
								    </div>
								    <div class="col">
								      <div class="card-body" style="padding: 5px 18px">
								        <h5 class="card-title" style="margin-bottom: 0; font-weight: bold;"><%= link_to (result.name), company_path(result.id) %></h5>
								        <h6 class="card-text" style="margin-bottom: 0; color: orange"><%= result.name %></h6>
								        <p class="card-text font-weight-normal c-gray"><%= result.description %></p>
								      </div>
								    </div>
								  </div>
								</div>
						<%end%>
						</div>
					</div>
					</section>