.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background-image: url('bg-pattern.png'), linear-gradient(to left, #E26125, #154577);
}